<template name="appStocks">
  <br>
  <br>
  <div align='center'>
    <h2>Market Panel</h2>
    <br>
    <br>
    <table class='table-condensed table-bordered table-hover' width="90%">
      <thead class="thead-inverse">
        <tr>
          <td align='center'>Company</td>
          <td align='center'>Trading Name</td>
          <td align='center'>Ask</td>
          <td align='center'>Bid</td>
          <td align='center'>Trading Volumn</td>
        </tr>
      </thead>
      <tbody>
        {{#each stocks}}
          <tr>
          {{> stock}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="stock">
    <td align='center'>{{companyName}}</td>
    <td align='center'>{{tradingSymbol}}</td>
    <td align='center'>${{bestAsk}}</td>
    <td align='center'>${{bestBid}}</td>
    <td align='center'>{{tradingVolumn}}</td>
</template>